#menu-bar {
    cursor: pointer;
    color: white;
    font-size: large;
    font-family: monospace;

    position: absolute;
    overflow: hidden;
    height: 95%;
    
    /* Cross-browser disable text selection. */
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@media print {
    #menu-bar {
    	display: none !important;
    }
}

.menu-item {
    width: 5.5em;
    text-align: right;
    padding: 0.5em;
    margin: 0;
    text-decoration: none;
}

.menu-item:hover {
    background-color: black;
    color: green;
}

/* Top level menu buttons  */
#menu-bar .menu-item {
    display: inline-block;
    background-color: rosybrown;
}

#file-menu-contents .menu-item {
    display: block;
    background-color: black;
    color: grey;
}

#file-menu-contents .menu-item.active {
    color: white;
}

#file-menu.enabled {
    background-color: black;
    color: green;
}

#file-menu-contents {
    top:-50em;
    transition: top 0.3s;
    position: absolute;
    z-index: -1;
}

#file-menu-contents.enabled {
    top: 2.1em;
}

.confirmation {
    color: green;
    position: absolute;
    right: 2px;
}

#search-control {
    font-size: large;
    font-family: helvetica;
    display: block;
}

#search {
    font-size: large;
    margin-left: 0.1em;
    z-index: 999;
}

#search-results {
    list-style-type: none;
    margin: 0;
    padding: 0.1em;
    display: block;
    width: 13em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#history-slider {
    width: 98%;
}

#history-number {
    width:95%;
}

.erroneous-version {
    color:red;
}

#offline-indicator {
    text-decoration: none;
    pointer-events: none;
    cursor: default;
}

.search-result {
    padding: 0.2em;
}

.search-result {
    background-color: palegreen;
    opacity: 0.8;
    cursor: pointer;
}

.search-result:hover {
    text-decoration: underline;
    opacity: 1.0;
}

.search-result-current-page {
    background-color: powderblue;
}

.search-result-fabricated {
    background-color: pink;
}

.highlighted-result {
    border: 1px dashed blue;
}