#menu {
    color: white;
    font-size: large;
    font-family: monospace;
    cursor: default;

    position: absolute;

    height: 95%;
    width: 100%;
    
    pointer-events: none;
    
    /* Cross-browser disable text selection. */
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@media print {
    #menu-bar {
    	display: none !important;
    }
}

.menu-item {
    width: 5.5em;
    text-align: right;
    padding: 0.5em;
    margin: 0;
    text-decoration: none;
    pointer-events: auto;
}

.menu-item.disabled {
    pointer-events: none;
}

.menu-item:hover {
    background-color: black;
    color: green;
}

/* Top level menu buttons  */
#menu-bar .menu-item {
    display: inline-block;
    background-color: slategray;
    cursor: pointer;
}

#menu-bar #autosave-indicator {
    display: none;
    width: 9em;
    margin-left: 1em;
}

#menu-bar #autosave-indicator.enabled {
    display: inline-block;
}

#file-menu-contents .menu-item {
    display: block;
    background-color: black;
    color: grey;
}

#file-menu-contents .menu-item.ready {
    color: white;
    cursor: pointer;
}

#file-menu-contents .menu-item.active {
    color: green;
    cursor: pointer;
}

#file-menu.active {
    background-color: black;
    color: green;
}

/*
Makes sure that the contents of the file-menu do not appear to scroll in front of the 'File' button whilst animating.

Needed since z-index does not appear to work with css transitions.
 */
#file-menu-contents-wrapper {
    overflow: hidden;
}

#file-menu-contents {
    top:-50em;
    transition: top 0.3s;
    position: relative;
}

#file-menu-contents.active {
    top: 0;
}

#search-wrapper {
    width: 0;
    height: 0;
    position: relative;
    left: 6em;
    top: -2em;
}

#search-control {
    font-size: large;
    font-family: helvetica;
    display: block;
    background-color: slategray;
    padding: 1em;
    width: 13em;
    position: absolute;
}

#search {
    font-size: large;
    margin-left: 0.1em;
    z-index: 999;
}

#search-results {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-result {
    padding: 0.2em;
    cursor: pointer;
    text-align: left;
    color: white;
}

.search-result:hover {
    text-decoration: underline;
}

.search-result-current-page {
    background-color: powderblue;
}

.search-result-fabricated {
    background-color: pink;
}

.highlighted-result {
    border: 1px dashed blue;
}

#offline-indicator {
    text-decoration: none;
    pointer-events: none;
    cursor: default;
}

.sub-menu-wrapper {
    position: relative;
    left: 6em;
    top: -2em;
    pointer-events: none;
}

.sub-menu {
    position: absolute;
    background-color: slategray;
    color: white;
    left: -50em;
    transition: left 0.3s;
    pointer-events: auto;
    z-index: -1;
    width: 15em;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 20em;
    text-align: left;
}

.sub-menu.enabled {
    left: 0;
}

.current-version {
    border: 1px solid red;
}

/*
.modal-wrapper and its 'before:' pseudo-element are used to vertically centre the dialogue.

See: https://css-tricks.com/centering-in-the-unknown/

This is because Internet Explorer 10 and below do not support Flexbox.
 */
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: 9999999;
    text-align: center;
}

.modal-wrapper:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -0.25em;
}

.modal {
    width: 20em;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid black;
    text-align: left;
}

.comment label {
    cursor: pointer;
    text-decoration: underline;
    color: grey;
    vertical-align: top;
}

.comment.expanded label {
    color: black;
}

.comment textarea {
    display: none;    
}

.comment.expanded textarea {
    display: inline;
}

.dialogue-action {
    float: right;
    background: green;
    cursor: pointer;
    padding: 0.5em;
}

.option-placeholder {
    display: none;
}