.document-control-item {
    display: inline-block;
    width: 5.5em;
    background-color: #E0E0E0;
    font-size: large;
    font-family: monospace;
    text-align: center;
    vertical-align: top;
    padding: 0.2em;
    margin: 0.1em;

    // Cross-browser disable text selection.
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;    
}

.document-control-button {
    opacity: 0.8;
    cursor: pointer;
}

a.document-control-button {
    text-decoration: none;
    color: black;
}

.document-control-button:hover {
    opacity: 1.0;
    text-decoration: underline;
}

.active {
    opacity: 1.0;
    background-color: #181818;
    color: white;
}

.offline .online-only {
    display: none;
}

.offline-only {
    display: none;
    cursor: default;
    background: white;
    color: red;
}

.offline .offline-only {
    display: inline-block;
}

#search-control {
    font-size: large;
    font-family: helvetica;
    display: inline-block;
}

#search {
    font-size: large;
    margin-left: 0.1em;
}

#search-results {
    list-style-type: none;
    margin: 0;
    padding: 0.1em;
    display: block;
    width: 13em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-result {
    padding: 0.2em;
}

.search-result {
    background-color: palegreen;
    opacity: 0.8;
    cursor: pointer;
}

.search-result:hover {
    text-decoration: underline;
    opacity: 1.0;
}

.search-result-current-page {
    background-color: powderblue;
}

.search-result-fabricated {
    background-color: pink;
}